<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EEE Department Website</title>

    <!-- ICONSCOUT CDN-->

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">



    <!-- GOOGLE FONTS (MONTSERRAT)-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800;900&display=swap"
        rel="stylesheet">



    <!-- SWIPER JS -->

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />



    <link rel="stylesheet" href=" /CSS/styleh.css">
</head>

<body>

    <nav>
        <div class="container nav__container">
            <a href="index.html">
                <h4>BLDEACET'S Dept. Of EEE</h4>
            </a>
            <ul class="nav__menu">
                <li><a href="index.html">Home</a></li>
                <a href="/student-marks">teacher</a>
                <a href="">student register</a>


               
            </ul>
            <button id="open-menu-btn"> <i class="uil uil-bars"></i> </button>
            <button id="close-menu-btn"> <i class="uil uil-multiply"></i> </button>
        </div>
    </nav>


    <!-- ================================END OF NAVBAR ============================-->




    <header>
        <div class="container header__container">
            <div class="header__left">
                <h2>Electrical and Electronics Engineering </h2>
                <p>
                    <b>Dr. V.S. Gonal Head of The Department</b>
                    <b>From Hod’s Desk:</b>
                    The department was established in the year 1980 for imparting state of art
                    education and training in the field of Electrical and Electronics Engineering. With an initial
                    intake of 30 students the department has grown steadily and the present intake is 90.
                </p>
                <a href="contact.html" class="btn btn-primary"> Get
                    Started</a>
            </div>

            <div class="header__right">
                <div class="header__right-image">
                    <img src="/images/teaching.png" alt="there was a error loading this picture">
                </div>
            </div>
        </div>
    </header>



    <!--===============================================END OF HEADER ===========================================================-->




    <section class="categories">
        <div class="container categories__container">
            <div class="categories__left">
                <h1>categories</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolorem voluptates dolor modi ab quidem quo minus fugit rem nihil quod!
                </p>
                <a href="register.html" class="btn"> Learn More</a>
            </div>

            <div class="categories__right">

                <article class="category">
                    <h5>Semester 3</h5>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, maiores.</p>
                </article>

                <article class="category">
                    <h5>Semester 4</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, exercitationem.</p>
                </article>

                <article class="category">
                    <h5>Semester 5</h5>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati, distinctio?</p>
                </article>

                <article class="category">
                    <h5>Semester 6</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, harum!</p>
                </article>

                <article class="category">
                    <h5>Semester 7</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, labore?</p>
                </article>

                <article class="category">
                    <h5>Semester 8</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, assumenda.</p>
                </article>

            </div>
        </div>
    </section>


    <!--=======================================================END OF CATEGORIES===========================================================-->







    <section class="courses">
        <h2>Academics</h2>
        <div class="container courses__container">
            <article class="course">
                <div class="course__image">
                    <img src="/images/course1.jpg">
                </div>
                <h4>Syllabus</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore accusantium et odio minima, rerum
                    explicabo.</p>
                <a href="contact.html" class="btn btn-primary"> Learn More</a>
            </article>


            <article class="course">
                <div class="course__image">
                    <img src="/images/course2.jpg">
                </div>
                <h4>Notes</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore accusantium et odio minima, rerum
                    explicabo.</p>
                <a href="contact.html" class="btn btn-primary"> Learn More</a>
            </article>


            <article class="course">
                <div class="course__image">
                    <img src="/images/course3.jpg">
                </div>
                <h4>QuestionPapers</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore accusantium et odio minima, rerum
                    explicabo.</p>
                <a href="contact.html" class="btn btn-primary"> Learn More</a>
            </article>

        </div>
    </section>

    <!--=======================================================END OF COURSES===========================================================-->





    <section class="faqs">
        <h2> Frequently Asked Questions</h2>
        <div class="conatainer faqs__container">
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4> How do I know the right course for me?</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias aliquid deserunt nostrum
                        laudantium ipsam, veritatis quia adipisci aliquam eum. Veniam
                        praesentium veritatis qui, cum ad inventore a ab distinctio minima.
                    </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4> How do i know the right course for me?</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias aliquid deserunt nostrum
                        laudantium ipsam, veritatis quia adipisci aliquam eum. Veniam
                        praesentium veritatis qui, cum ad inventore a ab distinctio minima.
                    </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4> How do i know the right course for me?</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias aliquid deserunt nostrum
                        laudantium ipsam, veritatis quia adipisci aliquam eum. Veniam
                        praesentium veritatis qui, cum ad inventore a ab distinctio minima.
                    </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4> How do i know the right course for me?</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias aliquid deserunt nostrum
                        laudantium ipsam, veritatis quia adipisci aliquam eum. Veniam
                        praesentium veritatis qui, cum ad inventore a ab distinctio minima.
                    </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4> How do i know the right course for me?</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias aliquid deserunt nostrum
                        laudantium ipsam, veritatis quia adipisci aliquam eum. Veniam
                        praesentium veritatis qui, cum ad inventore a ab distinctio minima.
                    </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4> How do i know the right course for me?</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias aliquid deserunt nostrum
                        laudantium ipsam, veritatis quia adipisci aliquam eum. Veniam
                        praesentium veritatis qui, cum ad inventore a ab distinctio minima.
                    </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4> How do i know the right course for me?</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias aliquid deserunt nostrum
                        laudantium ipsam, veritatis quia adipisci aliquam eum. Veniam
                        praesentium veritatis qui, cum ad inventore a ab distinctio minima.
                    </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4> How do i know the right course for me?</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias aliquid deserunt nostrum
                        laudantium ipsam, veritatis quia adipisci aliquam eum. Veniam
                        praesentium veritatis qui, cum ad inventore a ab distinctio minima.
                    </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4> How do i know the right course for me?</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias aliquid deserunt nostrum
                        laudantium ipsam, veritatis quia adipisci aliquam eum. Veniam
                        praesentium veritatis qui, cum ad inventore a ab distinctio minima.
                    </p>
                </div>
            </article>

            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4> How do i know the right course for me?</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias aliquid deserunt nostrum
                        laudantium ipsam, veritatis quia adipisci aliquam eum. Veniam
                        praesentium veritatis qui, cum ad inventore a ab distinctio minima.
                    </p>
                </div>
            </article>


        </div>
    </section>

    <!--===================================END OF FAQS===============================================================-->






    <section class="container testimonials__container  mySwiper">
        <h2> Students' Testimonials</h2>
        <div class="swiper-wrapper">
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="/images/avatar5.jpg">
                </div>
                <div class="testimonial__info">
                    <h5> Jnanavi</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga excepturi dolorem est maxime harum
                        inventore,

                    </p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="/images/avatar6.jpg">
                </div>
                <div class="testimonial__info">
                    <h5> Lakshmi</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga excepturi dolorem est maxime harum
                        inventore,

                    </p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="/images/avatar7.jpg">
                </div>
                <div class="testimonial__info">
                    <h5>Kajal </h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga excepturi dolorem est maxime harum
                        inventore,

                    </p>
                </div>
            </article>

            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="/images/avatar2.jpg">
                </div>
                <div class="testimonial__info">
                    <h5>abc</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga excepturi dolorem est maxime harum
                        inventore,

                    </p>
                </div>
            </article>


            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="/images/avatar1.jpg">
                </div>
                <div class="testimonial__info">
                    <h5>xyz </h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga excepturi dolorem est maxime harum
                        inventore,

                    </p>
                </div>

            </article>

        </div>


        <div class="swiper-pagination"></div>

    </section>

    <!--========================================END OF TESTIMONIALS============================================================-->




    <footer>
        <div class="container footer__container ">
            <div class="footer__1">
                <a href="index.html" class="footer__logo">
                    <h4>BLDEACET</h4>
                </a>
                <P>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, sed.
                </P>
            </div>

            <div class="footer__2">
                <h4>Permalinks</h4>
                <ul class="permalinks">
                    <li> <a href="index.html"> Home</a></li>
                    <li><a href="register.html"> Register</a></li>
                    <li><a href="login.html"> Login</a></li>
                    <li><a href="contact.html"> Contact</a></li>
                </ul>
            </div>

            <div class="footer__3">
                <h4>Primacy</h4>
                <ul class="privacy">
                    <li><a href="#"> Privacy policy</a></li>
                    <li><a href="#"> Terms and conditions</a></li>
                    <li><a href="#"> Refund Policy</a></li>
                </ul>
            </div>

            <div class="footer__4">
                <h4>Conatct us</h4>
                <div>
                    <p>+01 234 567 8910</p>
                    <p>abc@gamil.com</p>
                </div>


                <ul class="footer__socials">
                    <li>
                        <a href="#"> <i class="uil uil-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#"> <i class="uil uil-instagram-alt"></i></a>
                    </li>
                    <li>
                        <a href="#"> <i class="uil uil-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"> <i class="uil uil-linkedin-alt"></i></a>
                    </li>
                </ul>
            </div>


        </div>
        <div class="footer__copyright">
            <small> Copyright &copy; BLDEACET</small>
        </div>
    </footer>



    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="./main.js"></script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            //when window width is >= 600px
            breakpoints: {
                600: {
                    slidesPerView: 2
                }
            }
        });
    </script>
</body>

</html>