<!-- include <header> -->

    <%-include('include/_header')%>

    <!-- include </header> -->

    <main id="site-main">
        <div class="container">
          <div class="box-nav d-flex justify-between">
            <a href="/add-user" class="boder-shadow">
<span class="text-graident"> <i class="fa-solid fa-user"> </i>new user </i></span>
            </a>
         </div>  


<form action="/"  method="POST">
<table class="table">
<thead class="thead-dark">
<tr>
    <th>NO</th>
    <th>NAME</th>
    <th>USN</th>
    <th>CIE1</th>
    <th>CIE2</th>
    <th>CIE3</th>
    <th>ACTIONS</th>
    
</tr>

</thead>

<tbody>
   
</tbody>

<%-include('include/_show')%>


</table>

</form>



        </div>
    </main>

   
   <!-- main <section></section> -->
   
   
   
   
   
    <!-- include <footer> -->

        <%-include('include/_footer')%>

        <!-- include </footer> -->
    