<!-- form handling -->

<form method="POST" id="add_user" action="/api/users">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-ligth">NAME</label>

            <input type="text" name="name" value="" placeholder="name of student">
        </div>

        <div class="form-group">
            <label for="usn" class="text-ligth">USN</label>

            <input type="text" name="usn" value="" placeholder="2BL19EE022">
        </div>

        <div class="form-group">
            <label for="CIE1" class="text-ligth">CIE1</label>

            <input type="text" name="CIE1" value="" placeholder="CIE1 MARKS OF STUDENT">
        </div>

        <div class="form-group">
            <label for="CIE2" class="text-ligth">CIE2</label>

            <input type="text" name="CIE2" value="" placeholder="CIE2 MARKS OF STUDENT">
        </div>

        <div class="form-group">
            <label for="CIE3" class="text-ligth">CIE3</label>

            <input type="text" name="CIE3" value="" placeholder="CIE3 MARKS OF STUDENT">
        </div>

<div class="form-group">
<button type="submit" class="btn text-dark update">
save
</button>
</div>

    </div>

</form>
